# Node.js 依赖
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 构建文件
/dist
/build

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 操作系统文件
.DS_Store
Thumbs.db

# IDE和编辑器
.idea/
.vscode/
*.swp
*.swo

# 日志文件
logs
*.log

# 临时文件
.tmp/
.temp/ 

# 大文件
renderer/assets/videos
tools/PerformanceReports/

# 库文件
kinect-azure/